#Install package and import

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

nltk.download('omw-1.4')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('vader_lexicon')

from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from functools import reduce
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans
from os import path
from wordcloud import WordCloud
from collections import Counter

lemmatizer = WordNetLemmatizer()

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Flipkart_Amazon Mobile Reviews - Flipkart_Amazon Mobile Reviews.csv', index_col=[0])
df

,Review-Title,rating,Review-Body,Product Name
0,Worst phone ever,1.0 out of 5 stars,Hang problem,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
1,Ok !!! Not up to the mark,2.0 out of 5 stars,I'm writing this review after using 3days !!!B...,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
2,Awesome look,5.0 out of 5 stars,Camera is so good n very fast phone back look ...,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
3,One plus losing is originality!!!,3.0 out of 5 stars,The media could not be loaded.\n ...,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
4,Read,1.0 out of 5 stars,I got my delivery on 23 feb when I unboxed the...,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
...,...,...,...,...
23772,Batten in this rangee,4.0 out of 5 stars,Must he Bhai iss range me bas cemra thoda sa s...,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23773,Good mobile,4.0 out of 5 stars,Good product,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23774,Good camera,5.0 out of 5 stars,Good,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23775,Warest mobile,1.0 out of 5 stars,Don't buy this mobile phone money weast screen...,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23776,Good phone complicated UI.,4.0 out of 5 stars,Phone is Good . Camera not upto the mark. UI i...,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."

In [6]:
df.isna().sum()

Review-Title      2
rating            0
Review-Body     617
Product Name      0
dtype: int64

In [7]:
df[df.isnull()['Review-Body']]

,Review-Title,rating,Review-Body,Product Name
108,Super mobile,5.0 out of 5 stars,NaN,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
336,"1+ ka y model price k hisab s very good, cemar...",5.0 out of 5 stars,NaN,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
525,The phone has hitting issue and Hangs while wr...,1.0 out of 5 stars,NaN,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
554,Nice pic,4.0 out of 5 stars,NaN,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
566,It's a master piece item.No lag.Excellent batt...,5.0 out of 5 stars,NaN,"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 12..."
...,...,...,...,...
23745,This mobile is very Awesome and Camera 📷 Quali...,5.0 out of 5 stars,NaN,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23746,Good,5.0 out of 5 stars,NaN,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23747,Very good phone in this price👍,4.0 out of 5 stars,NaN,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23748,I love this mobile camera 😍,4.0 out of 5 stars,NaN,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."
23749,Very nice phone 👍👍👍 and photo quality is very ...,5.0 out of 5 stars,NaN,"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128G..."

In [8]:
df['Review-Body'].fillna(df['Review-Title'], inplace=True)
df[df.isnull()['Review-Body']]

,Review-Title,rating,Review-Body,Product Name
20171,NaN,5.0 out of 5 stars,NaN,"Redmi Note 11 (Space Black, 4GB RAM, 64GB Stor..."

In [9]:
df[df.isnull()['Review-Title']]

,Review-Title,rating,Review-Body,Product Name
7350,NaN,1.0 out of 5 stars,Poor set,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)"
20171,NaN,5.0 out of 5 stars,NaN,"Redmi Note 11 (Space Black, 4GB RAM, 64GB Stor..."

In [10]:
df.isna().sum()

Review-Title    2
rating          0
Review-Body     1
Product Name    0
dtype: int64

In [11]:
print(df.shape)
df.dropna(subset=['Review-Title'], inplace=True)
df.shape

(23777, 4)

(23775, 4)

In [12]:
df=df.drop_duplicates()
df.shape

(22548, 4)

In [13]:
df.drop_duplicates().shape

(22548, 4)

In [14]:
df['Product Name'].unique()

array(['OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)',
       'OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)',
       'realme narzo 50A (Oxygen Blue , 4GB RAM + 64 GB Storage)',
       'Redmi 10 Prime (Bifrost Blue 4GB RAM 64GB ROM',
       'Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage)',
       'Redmi Note 11 (Space Black, 4GB RAM, 64GB Storage)',
       'Samsung Galaxy M32',
       'vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128GB Storage)'],
      dtype=object)

In [15]:
df['Product Name'].value_counts()

Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage)           4256
OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)              3901
Redmi 10 Prime (Bifrost Blue 4GB RAM 64GB ROM                 3524
OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)    3448
Redmi Note 11 (Space Black, 4GB RAM, 64GB Storage)            2647
realme narzo 50A (Oxygen Blue , 4GB RAM + 64 GB Storage)      2052
vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128GB Storage)      1385
Samsung Galaxy M32                                            1335
Name: Product Name, dtype: int64

In [16]:
df['Product Name'].value_counts()

Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage)           4256
OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)              3901
Redmi 10 Prime (Bifrost Blue 4GB RAM 64GB ROM                 3524
OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)    3448
Redmi Note 11 (Space Black, 4GB RAM, 64GB Storage)            2647
realme narzo 50A (Oxygen Blue , 4GB RAM + 64 GB Storage)      2052
vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128GB Storage)      1385
Samsung Galaxy M32                                            1335
Name: Product Name, dtype: int64

#df1

In [17]:
df1=df.copy()

In [18]:
mapping_product_name={"Redmi 9 Activ (Carbon Black, 4GB RAM, 64GB Storage)":"Redmi 9 Active",
"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage)":"Oppo A31",
"Redmi 10 Prime (Bifrost Blue 4GB RAM 64GB ROM":"Redmi 10 Prime",
"OnePlus Nord CE 2 5G (Gray Mirror, 8GB RAM, 128GB Storage)":"Oneplus Nord CE 2 5G",
"Redmi Note 11 (Space Black, 4GB RAM, 64GB Storage)":"Redmi Note 11",
"realme narzo 50A (Oxygen Blue , 4GB RAM + 64 GB Storage)":"Realme Narzo 50A",
"vivo iQOO Z6 5G (Chromatic Blue, 6GB RAM, 128GB Storage)":"Vivo Iqoo Z6 5G"}

df1.loc[:,'Product Name']=df["Product Name"].replace(mapping_product_name)
print(df1.shape)
df1['Product Name'].value_counts()

(22548, 4)

Redmi 9 Active          4256
Oppo A31                3901
Redmi 10 Prime          3524
Oneplus Nord CE 2 5G    3448
Redmi Note 11           2647
Realme Narzo 50A        2052
Vivo Iqoo Z6 5G         1385
Samsung Galaxy M32      1335
Name: Product Name, dtype: int64

In [19]:
df1['rating'].value_counts()

5.0 out of 5 stars    8528
1.0 out of 5 stars    5214
4.0 out of 5 stars    4602
3.0 out of 5 stars    2651
2.0 out of 5 stars    1553
Name: rating, dtype: int64

In [20]:
mapping_rating={
"1.0 out of 5 stars":1,
"2.0 out of 5 stars":2,
"3.0 out of 5 stars":3,
"4.0 out of 5 stars":4,
"5.0 out of 5 stars":5}
df1.loc[:, ('rating')]=df['rating'].replace(mapping_rating)
df1['rating'].value_counts()

5    8528
1    5214
4    4602
3    2651
2    1553
Name: rating, dtype: int64

In [21]:
df1.rating.dtypes

dtype('int64')

In [22]:
df1.head()

,Review-Title,rating,Review-Body,Product Name
0,Worst phone ever,1,Hang problem,Oneplus Nord CE 2 5G
1,Ok !!! Not up to the mark,2,I'm writing this review after using 3days !!!B...,Oneplus Nord CE 2 5G
2,Awesome look,5,Camera is so good n very fast phone back look ...,Oneplus Nord CE 2 5G
3,One plus losing is originality!!!,3,The media could not be loaded.\n ...,Oneplus Nord CE 2 5G
4,Read,1,I got my delivery on 23 feb when I unboxed the...,Oneplus Nord CE 2 5G

In [23]:
words_list=['camera','battery','display','value_for_money','performance']
for word in words_list:
  df1[word]=0

In [24]:
df1.head()

,Review-Title,rating,Review-Body,Product Name,camera,battery,display,value_for_money,performance
0,Worst phone ever,1,Hang problem,Oneplus Nord CE 2 5G,0,0,0,0,0
1,Ok !!! Not up to the mark,2,I'm writing this review after using 3days !!!B...,Oneplus Nord CE 2 5G,0,0,0,0,0
2,Awesome look,5,Camera is so good n very fast phone back look ...,Oneplus Nord CE 2 5G,0,0,0,0,0
3,One plus losing is originality!!!,3,The media could not be loaded.\n ...,Oneplus Nord CE 2 5G,0,0,0,0,0
4,Read,1,I got my delivery on 23 feb when I unboxed the...,Oneplus Nord CE 2 5G,0,0,0,0,0

In [25]:
camera=['camera','picture','pic','image','video', 'selfie']
battery=['battery', 'day', 'charging', 'charge', 'day', 'drain','dead']
display=['display', 'refresh', 'beautiful', 'pixel', 'screen','touch', 'response','look']
value_for_money= ['value', 'money', 'cheap' , 'better' , 'best', 'segment' ]
performance =['performance', 'hang', 'slow', 'smooth', 'glitch', 'UI', 'lagg']

In [ ]:
%pip install pattern
from pattern.text.en import singularize

In [ ]:
%pip install emoji
%pip install googletrans==3.1.0a0
%pip install TextBlob

import emoji
from googletrans import Translator
from textblob import TextBlob

In [28]:
df1.reset_index(inplace = True,drop = True)
def spell(text):
  txt = TextBlob(text)
  txt = txt.correct()
  return txt

def convert_emoji(text):
  replace_emoji = emoji.demojize(text)
  return replace_emoji.replace(':','').replace('_',' ')

In [30]:

stop_words = set(stopwords.words("english"))
tokenizer = RegexpTokenizer('\w+')
for i in range(len(df1.axes[0])):
  z1=df1['Review-Body'][i]
  z=convert_emoji(z1)
  y=tokenizer.tokenize(z)
  filtered_list = [word.lower() for word in y if word.casefold() not in stop_words and len(word)>2 and len(word)<11]
  singular1 = [singularize(word) for word in filtered_list]
  le1 = [lemmatizer.lemmatize(word) for (word, pos) in nltk.pos_tag(singular1) if word.isalpha() and (pos[0]=='N' or pos[0]=='J' or pos[0]=='V' or pos[0]=='R')]
  le = [spell(word) for word in le1]
  if any(c in le for c in ['camera','picture','pic','image','video', 'selfie']):
    df1['camera'][i]=1
  if any(c in le for c in ['battery', 'day', 'charging', 'charge', 'day', 'drain','dead']):
    df1['battery'][i]=1
  if any(c in le for c in ['display', 'refresh', 'beautiful', 'pixel', 'screen','touch', 'response','look']):
    df1['display'][i]=1
  if any(c in le for c in ['value', 'money', 'cheap' , 'better' , 'best', 'segment' ]):
    df1['value_for_money'][i]=1
  if any(c in le for c in ['performance', 'hang', 'slow', 'smooth', 'glitch', 'UI', 'lagg']):
    df1['performance'][i]=1
  a=' '.join(str(e) for e in le)
  df1['Review-Body'][i]=a

In [31]:
df1

,Review-Title,rating,Review-Body,Product Name,camera,battery,display,value_for_money,performance
0,Worst phone ever,1,hang problem,Oneplus Nord CE 2 5G,0,0,0,0,1
1,Ok !!! Not up to the mark,2,writing review using honest normal andros hone...,Oneplus Nord CE 2 5G,0,1,0,0,0
2,Awesome look,5,camera good fast phone back look price segment...,Oneplus Nord CE 2 5G,1,1,1,1,0
3,One plus losing is originality!!!,3,medium loaded average product decent day day a...,Oneplus Nord CE 2 5G,1,1,0,1,0
4,Read,1,got delivery feb unvexed phone display damaged...,Oneplus Nord CE 2 5G,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
22543,Batten in this rangee,4,that i range ba vera those she ni,Vivo Iqoo Z6 5G,0,0,0,0,0
22544,Good mobile,4,good product,Vivo Iqoo Z6 5G,0,0,0,0,0
22545,Good camera,5,good,Vivo Iqoo Z6 5G,0,0,0,0,0
22546,Warest mobile,1,buy mobile phone money west screen each proble...,Vivo Iqoo Z6 5G,1,1,1,1,1
22547,Good phone complicated UI.,4,phone good camera unto mark,Vivo Iqoo Z6 5G,1,0,0,0,0

In [42]:
df2=df1[(df1['camera']==1) | (df1['battery']==1) | ( df1['display']==1) | (df1['value_for_money']==1) | (df1['performance']==1)]
df2.replace(0,np.nan)
df2

,Review-Title,rating,Review-Body,Product Name,camera,battery,display,value_for_money,performance
0,Worst phone ever,1,hang problem,Oneplus Nord CE 2 5G,0,0,0,0,1
1,Ok !!! Not up to the mark,2,writing review using honest normal andros hone...,Oneplus Nord CE 2 5G,0,1,0,0,0
2,Awesome look,5,camera good fast phone back look price segment...,Oneplus Nord CE 2 5G,1,1,1,1,0
3,One plus losing is originality!!!,3,medium loaded average product decent day day a...,Oneplus Nord CE 2 5G,1,1,0,1,0
4,Read,1,got delivery feb unvexed phone display damaged...,Oneplus Nord CE 2 5G,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
22538,Not bad,4,battery back awesome sound normal camera expec...,Vivo Iqoo Z6 5G,1,1,0,0,0
22540,Iqoo z6 5g,5,mobile good value money money bag,Vivo Iqoo Z6 5G,0,0,0,1,0
22542,Product is good,5,oder adapted missing received mobile phone cha...,Vivo Iqoo Z6 5G,0,1,0,0,0
22546,Warest mobile,1,buy mobile phone money west screen each proble...,Vivo Iqoo Z6 5G,1,1,1,1,1
22547,Good phone complicated UI.,4,phone good camera unto mark,Vivo Iqoo Z6 5G,1,0,0,0,0

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11947 entries, 0 to 22547
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Review-Title     11947 non-null  object
 1   rating           11947 non-null  int64
 2   Review-Body      11947 non-null  object
 3   Product Name     11947 non-null  object
 4   camera           11947 non-null  int64
 5   battery          11947 non-null  int64
 6   display          11947 non-null  int64
 7   value_for_money  11947 non-null  int64
 8   performance      11947 non-null  int64
dtypes: int64(6), object(3)
memory usage: 933.4+ KB

In [46]:
df2.value_for_money.value_counts()

0    8358
1    3589
Name: value_for_money, dtype: int64

In [47]:
camera=['camera','picture','pic','image','video', 'selfie']
battery=['battery', 'day', 'charging', 'charge', 'day', 'drain','dead']
display=['display', 'refresh', 'beautiful', 'pixel', 'screen','touch', 'response','look']
value_for_money= ['value', 'money', 'cheap' , 'better' , 'best', 'segment' ]
performance =['performance', 'hang', 'slow', 'smooth', 'glitch', 'UI', 'lagg']

In [48]:
from nltk.sentiment import SentimentIntensityAnalyzer

df2['Sentiment'] = None
df2['camera_s'] = None
df2['battery_s'] = None
df2['display_s'] = None
df2['value_for_money_s'] = None
df2['performance_s'] = None

def polar(a,b,c):
  if a>=0:
    df2.at[b,c]=1
  else:
    df2.at[b,c]=0

def get_context(string, target_word):
  try:
    words = string.split()
    target_index = words.index(target_word)
    before = words[max(target_index - 3, 0):target_index]
    after = words[target_index + 1:target_index + 4]
    if len(before) < 3:
        before.extend(words[0:3-len(before)])
    if len(after) < 3:
        after.extend(words[-3+len(after):])
    context = " ".join(before + [target_word] + after)
    return context
  except ValueError:
    return 'good'

sia = SentimentIntensityAnalyzer()

for index, row in df2.iterrows():
  polarity = sia.polarity_scores(row['Review-Body'])
  polar(polarity['compound'],index,'Sentiment')

  if df2['camera'][index]==1:
    for word in camera:
      z=df2['Review-Body'][index]
      if word in z:
        text=get_context(z,word)
        polarity = sia.polarity_scores(text)
        polar(polarity['compound'],index,'camera_s')
        break
  if df2['battery'][index]==1:
    for word in battery:
        z=df2['Review-Body'][index]
        if word in z:
          text=get_context(z,word)
          polarity = sia.polarity_scores(text)
          polar(polarity['compound'],index,'battery_s')
          break
  if df2['display'][index]==1:
    for word in display:
      z=df2['Review-Body'][index]
      if word in z:
        text=get_context(z,word)
        polarity = sia.polarity_scores(text)
        polar(polarity['compound'],index,'display_s')
        break
  if df2['value_for_money'][index]==1:
    for word in value_for_money:
      z=df2['Review-Body'][index]
      if word in z:
        text=get_context(z,word)
        polarity = sia.polarity_scores(text)
        polar(polarity['compound'],index,'value_for_money_s')
        break
  if df2['performance'][index]==1:
    for word in performance:
      z=df2['Review-Body'][index]
      if word in z:
        text=get_context(z,word)
        polarity = sia.polarity_scores(text)
        polar(polarity['compound'],index,'performance_s')
        break

df2=df2.fillna(np.nan)

In [49]:
df2

,Review-Title,rating,Review-Body,Product Name,camera,battery,display,value_for_money,performance,Sentiment,camera_s,battery_s,display_s,value_for_money_s,performance_s
0,Worst phone ever,1,hang problem,Oneplus Nord CE 2 5G,0,0,0,0,1,0,NaN,NaN,NaN,NaN,0.0
1,Ok !!! Not up to the mark,2,writing review using honest normal andros hone...,Oneplus Nord CE 2 5G,0,1,0,0,0,1,NaN,1.0,NaN,NaN,NaN
2,Awesome look,5,camera good fast phone back look price segment...,Oneplus Nord CE 2 5G,1,1,1,1,0,1,1.0,1.0,1.0,1.0,NaN
3,One plus losing is originality!!!,3,medium loaded average product decent day day a...,Oneplus Nord CE 2 5G,1,1,0,1,0,1,1.0,1.0,NaN,1.0,NaN
4,Read,1,got delivery feb unvexed phone display damaged...,Oneplus Nord CE 2 5G,1,0,1,0,0,1,1.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,Not bad,4,battery back awesome sound normal camera expec...,Vivo Iqoo Z6 5G,1,1,0,0,0,1,1.0,1.0,NaN,NaN,NaN
22540,Iqoo z6 5g,5,mobile good value money money bag,Vivo Iqoo Z6 5G,0,0,0,1,0,1,NaN,NaN,NaN,1.0,NaN
22542,Product is good,5,oder adapted missing received mobile phone cha...,Vivo Iqoo Z6 5G,0,1,0,0,0,0,NaN,1.0,NaN,NaN,NaN
22546,Warest mobile,1,buy mobile phone money west screen each proble...,Vivo Iqoo Z6 5G,1,1,1,1,1,1,0.0,0.0,0.0,1.0,1.0
22547,Good phone complicated UI.,4,phone good camera unto mark,Vivo Iqoo Z6 5G,1,0,0,0,0,1,1.0,NaN,NaN,NaN,NaN

In [63]:
df2['rating']=df2['rating'].astype(int)
df2['Sentiment']=df2['Sentiment'].astype(int)

In [76]:
df2.rating.value_counts()

5    3565
1    3187
4    2442
3    1719
2    1034
Name: rating, dtype: int64

In [72]:
print(df2[(df2['rating']>3) & (df2['Sentiment']==1)].shape)
df2[(df2['rating']>2) & (df2['Sentiment']==1)].shape

(5664, 15)

(6915, 15)

In [74]:
print(df2[(df2['rating']<4) & (df2['Sentiment']==0)].shape)
df2[(df2['rating']<3) & (df2['Sentiment']==0)].shape

(2750, 15)

(2282, 15)

In [75]:
print((5664+2750)/11947)
print((6915+2282)/11947)

0.7042772244078012
0.7698166903825228

In [77]:
print(df2[(df2['rating']>3) & (df2['Sentiment']==1)].shape)
df2[(df2['rating']<3) & (df2['Sentiment']==0)].shape

(5664, 15)

(2282, 15)

In [78]:
(5664+2282)/(11947-1719)

0.7768869769260852

In [70]:
result1, result2

(Review-Title         5664
 rating               5664
 Review-Body          5664
 Product Name         5664
 camera               5664
 battery              5664
 display              5664
 value_for_money      5664
 performance          5664
 Sentiment            5664
 camera_s             2889
 battery_s            2582
 display_s            1455
 value_for_money_s    2277
 performance_s         410
 dtype: int64, Review-Title         811
 rating               811
 Review-Body          811
 Product Name         811
 camera               811
 battery              811
 display              811
 value_for_money      811
 performance          811
 Sentiment            811
 camera_s             552
 battery_s            305
 display_s            161
 value_for_money_s     66
 performance_s         91
 dtype: int64)

In [52]:
df3=df2.groupby('Product Name')['camera_s','battery_s','display_s','value_for_money_s','performance_s','Sentiment'].mean()
df4=df3*100
df4=df4.round().astype(int)

In [53]:
df4

,camera_s,battery_s,display_s,value_for_money_s,performance_s,Sentiment
Product Name,,,,,,
Oneplus Nord CE 2 5G,83,83,90,90,82,81
Oppo A31,76,80,74,90,74,78
Realme Narzo 50A,74,88,83,89,76,78
Redmi 10 Prime,60,82,78,80,77,65
Redmi 9 Active,68,83,72,86,77,73
Redmi Note 11,66,87,89,89,75,72
Samsung Galaxy M32,88,82,85,86,79,75
Vivo Iqoo Z6 5G,78,81,78,87,82,75

In [57]:
df_neg=100-df4
df_neg

,camera_s,battery_s,display_s,value_for_money_s,performance_s,Sentiment
Product Name,,,,,,
Oneplus Nord CE 2 5G,17,17,10,10,18,19
Oppo A31,24,20,26,10,26,22
Realme Narzo 50A,26,12,17,11,24,22
Redmi 10 Prime,40,18,22,20,23,35
Redmi 9 Active,32,17,28,14,23,27
Redmi Note 11,34,13,11,11,25,28
Samsung Galaxy M32,12,18,15,14,21,25
Vivo Iqoo Z6 5G,22,19,22,13,18,25

In [54]:
df5=df3*5
df5=df5.round(1)
df5

,camera_s,battery_s,display_s,value_for_money_s,performance_s,Sentiment
Product Name,,,,,,
Oneplus Nord CE 2 5G,4.1,4.2,4.5,4.5,4.1,4.1
Oppo A31,3.8,4.0,3.7,4.5,3.7,3.9
Realme Narzo 50A,3.7,4.4,4.2,4.5,3.8,3.9
Redmi 10 Prime,3.0,4.1,3.9,4.0,3.9,3.3
Redmi 9 Active,3.4,4.2,3.6,4.3,3.9,3.6
Redmi Note 11,3.3,4.3,4.4,4.4,3.8,3.6
Samsung Galaxy M32,4.4,4.1,4.2,4.3,4.0,3.8
Vivo Iqoo Z6 5G,3.9,4.0,3.9,4.4,4.1,3.8

In [55]:
for col in df5.columns:
  if col=='Sentiment':
    new_col='overall_ranking'
  else:
    new_col=col.rstrip('_s')+"_rank"

  df5[new_col]=df5[col].rank(method='dense',ascending=False)

df6=df5.iloc[:,6:12]
df6=df6.apply(lambda x: x.astype(int))
df6

,camera_rank,battery_rank,display_rank,value_for_money_rank,performance_rank,overall_ranking
Product Name,,,,,,
Oneplus Nord CE 2 5G,2,3,1,1,1,1
Oppo A31,4,5,5,1,5,2
Realme Narzo 50A,5,1,3,1,4,2
Redmi 10 Prime,8,4,4,4,3,5
Redmi 9 Active,6,3,6,3,3,4
Redmi Note 11,7,2,2,2,4,4
Samsung Galaxy M32,1,4,3,3,2,3
Vivo Iqoo Z6 5G,3,5,4,2,1,3